### 1. Classes and Objects

In [3]:
class Student:
    
    nstudents = 0
    
    # Attributes
    def __init__(self, name='', grade='', r='000000'):
        self.name = name
        self.grade = grade
        self.age = 0
        self.rollno = r
        self.marks = {'phy':0, 'chem':0, 'math':0, 'bio':0}
        Student.nstudents += 1
    
    # Functions
    def printInfo(self):
        print('-'*50)
        print('NAME     : ', self.name)
        print('AGE      : ', self.age)
        print('ROLL NO. : ', self.rollno)
        print('CLASS    : ', self.grade)
        print('-'*50)
        print('PHYSICS    : ', self.marks['phy'])
        print('CHEMISTRY  : ', self.marks['chem'])
        print('MATHS      : ', self.marks['math'])
        print('BIOLOGY    : ', self.marks['bio'])
        print('-'*50)
        print('AVERAGE    : ', self.avg)
        
    
    def calcAverage(self):
        self.avg = sum(self.marks.values())/4;
    
    def setMarks(self, sub, marks):
        if sub in self.marks.keys():
            self.marks[sub] = marks
            
    def setAttrib(self, attr, value):
        if attr in ['name', 'age', 'grade', 'rollno']:
            if(attr == 'name'):
                self.name = value
            elif(attr == 'age'):
                self.age = value
            elif(attr == 'grade'):
                self.grade = value
            else:
                self.rollno = value

In [4]:
s1 = Student()
s2 = Student(name='Anil')
s3 = Student('Sunil', '4')
s4 = Student('Raj', '5', 'SV0012')

In [5]:
s1.printInfo()

--------------------------------------------------
NAME     :
AGE      :  0
ROLL NO. :  000000
CLASS    :
--------------------------------------------------
PHYSICS    :  0
CHEMISTRY  :  0
MATHS      :  0
BIOLOGY    :  0
--------------------------------------------------

AttributeError: 'Student' object has no attribute 'avg'

In [6]:
s1.calcAverage()

In [7]:
s1.printInfo()

--------------------------------------------------
NAME     :
AGE      :  0
ROLL NO. :  000000
CLASS    :
--------------------------------------------------
PHYSICS    :  0
CHEMISTRY  :  0
MATHS      :  0
BIOLOGY    :  0
--------------------------------------------------
AVERAGE    :  0.0

##### Therefore, initialize all variables in the constructor

In [19]:
class Student:
    
    nstudents = 0
    
    # Attributes
    def __init__(self, name='', grade='', r='000000'):
        self.name = name
        self.grade = grade
        self.age = 0
        self.rollno = r
        self.marks = {'phy':0, 'chem':0, 'math':0, 'bio':0}
        self.avg = 0
        Student.nstudents += 1
    
    # Functions
    def printInfo(self):
        print(self)
        print('-'*50)
        print('NAME     : ', self.name)
        print('AGE      : ', self.age)
        print('ROLL NO. : ', self.rollno)
        print('CLASS    : ', self.grade)
        print('-'*50)
        print('PHYSICS    : ', self.marks['phy'])
        print('CHEMISTRY  : ', self.marks['chem'])
        print('MATHS      : ', self.marks['math'])
        print('BIOLOGY    : ', self.marks['bio'])
        print('-'*50)
        print('AVERAGE    : ', self.avg)
        
    
    def calcAverage(self):
        self.avg = sum(self.marks.values())/4;
    
    def setMarks(self, sub, marks):
        if sub in self.marks.keys():
            self.marks[sub] = marks
            
    def setAttrib(self, attr, value):
        if attr in ['name', 'age', 'grade', 'rollno']:
            if(attr == 'name'):
                self.name = value
            elif(attr == 'age'):
                self.age = value
            elif(attr == 'grade'):
                self.grade = value
            else:
                self.rollno = value

In [23]:
s = Student('Raj', '5', 'SV0012')
s

In [24]:
s.printInfo()

<__main__.Student object at 0x000001922F57CEE0>
--------------------------------------------------
NAME     :  Raj
AGE      :  0
ROLL NO. :  SV0012
CLASS    :  5
--------------------------------------------------
PHYSICS    :  0
CHEMISTRY  :  0
MATHS      :  0
BIOLOGY    :  0
--------------------------------------------------
AVERAGE    :  0

In [12]:
s.setAttrib('age', '10')

In [13]:
s.printInfo()

--------------------------------------------------
NAME     :  Raj
AGE      :  10
ROLL NO. :  SV0012
CLASS    :  5
--------------------------------------------------
PHYSICS    :  0
CHEMISTRY  :  0
MATHS      :  0
BIOLOGY    :  0
--------------------------------------------------
AVERAGE    :  0

In [15]:
s.setMarks('phy', 89)
s.setMarks('chem', 69)
s.setMarks('math', 88)
s.setMarks('bio', 99)

In [16]:
s.printInfo()

--------------------------------------------------
NAME     :  Raj
AGE      :  10
ROLL NO. :  SV0012
CLASS    :  5
--------------------------------------------------
PHYSICS    :  89
CHEMISTRY  :  69
MATHS      :  88
BIOLOGY    :  99
--------------------------------------------------
AVERAGE    :  0

In [17]:
s.calcAverage()

In [18]:
s.printInfo()

--------------------------------------------------
NAME     :  Raj
AGE      :  10
ROLL NO. :  SV0012
CLASS    :  5
--------------------------------------------------
PHYSICS    :  89
CHEMISTRY  :  69
MATHS      :  88
BIOLOGY    :  99
--------------------------------------------------
AVERAGE    :  86.25

### 2. Inheritance

In [25]:
class extStudent(Student):
    pass

In [26]:
s = extStudent('Raj', '5', 'SV0012')
s

In [27]:
s.printInfo()

<__main__.extStudent object at 0x000001922F57C820>
--------------------------------------------------
NAME     :  Raj
AGE      :  0
ROLL NO. :  SV0012
CLASS    :  5
--------------------------------------------------
PHYSICS    :  0
CHEMISTRY  :  0
MATHS      :  0
BIOLOGY    :  0
--------------------------------------------------
AVERAGE    :  0

In [29]:
class newStudent(Student):
    def __init__(self):
        super().__init__()
        self.rank = 0
        self.hobbies = []
    
    def setRank(self, value):
        self.rank = value
        
    def setHobby(self, value):
        self.hobbies.append(value)
        
    def removeHobby(self, value):
        if value in self.hobbies:
            self.hobbies.remove(value)

In [30]:
se = newStudent()

In [31]:
se.printInfo()

<__main__.newStudent object at 0x000001922F57C6A0>
--------------------------------------------------
NAME     :
AGE      :  0
ROLL NO. :  000000
CLASS    :
--------------------------------------------------
PHYSICS    :  0
CHEMISTRY  :  0
MATHS      :  0
BIOLOGY    :  0
--------------------------------------------------
AVERAGE    :  0

In [32]:
class newStudent(Student):
    def __init__(self, name='', grade='', rollno=''):
        super().__init__(name, grade, rollno)
        self.rank = 0
        self.hobbies = []
        
    def printInfo(self):
        super().printInfo()
        print("RANK     ----> ", self.rank)
        print("HOBBIES  ----> ", self.hobbies)
    
    def setRank(self, value):
        self.rank = value
        
    def setHobby(self, value):
        self.hobbies.append(value)
        
    def removeHobby(self, value):
        if value in self.hobbies:
            self.hobbies.remove(value)

In [33]:
ne = newStudent("Anil", '10', 'NE11927847')
ne.printInfo()

<__main__.newStudent object at 0x000001922F5894C0>
--------------------------------------------------
NAME     :  Anil
AGE      :  0
ROLL NO. :  NE11927847
CLASS    :  10
--------------------------------------------------
PHYSICS    :  0
CHEMISTRY  :  0
MATHS      :  0
BIOLOGY    :  0
--------------------------------------------------
AVERAGE    :  0
RANK     ---->  0
HOBBIES  ---->  []

In [34]:
ne.setRank(4)
ne.setHobby('Cricket')
ne.setHobby('Movies')

In [35]:
ne.printInfo()

<__main__.newStudent object at 0x000001922F5894C0>
--------------------------------------------------
NAME     :  Anil
AGE      :  0
ROLL NO. :  NE11927847
CLASS    :  10
--------------------------------------------------
PHYSICS    :  0
CHEMISTRY  :  0
MATHS      :  0
BIOLOGY    :  0
--------------------------------------------------
AVERAGE    :  0
RANK     ---->  4
HOBBIES  ---->  ['Cricket', 'Movies']

In [36]:
Student.nstudents

6

### 3. Polymorphism

In [47]:
#obj = s 
obj = ne

In [48]:
obj.printInfo()

<__main__.newStudent object at 0x000001922F5894C0>
--------------------------------------------------
NAME     :  Anil
AGE      :  0
ROLL NO. :  NE11927847
CLASS    :  10
--------------------------------------------------
PHYSICS    :  0
CHEMISTRY  :  0
MATHS      :  0
BIOLOGY    :  0
--------------------------------------------------
AVERAGE    :  0
RANK     ---->  4
HOBBIES  ---->  ['Cricket', 'Movies']

### Exercise

Create a Employee class
with name, age, designation, company, salary and add appropiate member functions along with calcTax(percentage) should automatically be called when salary is updated
Test the class

Extend the class to have address, phone
Add appropriate member functions and update parent class functions where applicable
Test the extended class