# Tuples

In [1]:
T = ("red", "green", "blue")

In [2]:
T[2]

'blue'

In [3]:
T[2] = 'yellow'

TypeError: 'tuple' object does not support item assignment

##### Re-arranging elements

In [4]:
sorted(T)

['blue', 'green', 'red']

In [6]:
list(reversed(T))

['blue', 'green', 'red']

##### Changing Tuples

In [7]:
L = list(T)

In [8]:
L[0] = "RED"

In [9]:
T = tuple(L)

In [10]:
print(T)

('RED', 'green', 'blue')

##### Unpacking

In [11]:
T = ('red', 'green', 'blue', 'yellow')

In [12]:
r, g, b, y = T

In [13]:
print(r, g, b, y)

red green blue yellow

In [14]:
r, g, b = T

ValueError: too many values to unpack (expected 3)

In [15]:
r, g, *x = T

In [16]:
print(r, g, x)

red green ['blue', 'yellow']

##### Operators work as seen in the lists section