# Loops

In [ ]:
for item in ["red", "blue", "green"]:
    print(item)

##### Creating a range of numbers

In [ ]:
range(10)

In [ ]:
list(range(10))

In [ ]:
list(range(10, 20))

In [ ]:
list(range(10, 100, 5))

In [ ]:
list(range(10, 1, -1))

##### Using for loop to print multiplication table

In [ ]:
print('5', ' X ', '1', ' = ', (5*1))

In [ ]:
for i in range(1, 11):
	print('5', ' X ', i, ' = ', (5*i))

##### Using for loop with a dictionary

In [ ]:
D = {'name':'Anil', 'age':35, 'company':'Oracle', 'country':'India'}

In [ ]:
for k, v in D.items():
	print(k.rjust(8), ' | ', str(v).ljust(8))

##### Loop Control Statements

In [ ]:
for i in range(1, 11):
	print('5', ' X ', i, ' = ', (5*i))
	if(i == 5):
		break;

In [ ]:
for i in range(1, 11):
	if(i % 3 == 0):
		continue
	print('5', ' X ', i, ' = ', (5*i))

##### While loop

In [ ]:
i = 1
while i <= 10:
	print('5', ' X ', i, ' = ', (5*i))
	i += 1