### Scope of variables

In [5]:
a = 10 # global declaration

def func1():
    a = 5 # local declaration
    print("Variable value -> ", a)
    
def func2():
    a = 6 # local declaration
    print("Variable value -> ", a)

func1()
func2()

Variable value ->  5
Variable value ->  6

In [11]:
a = 10 # global declaration

def func1():
    a = 5 # local declaration
    a += 1
    print("Variable value -> ", a)
    
def func2():
    global a
    a += 1
    print("Variable value -> ", a)

func1()
func2()

Variable value ->  6
Variable value ->  11

In [8]:
a = 10

def func3():
    a = 20
    def func4():
        a = 30
        print("Variable value -> ", a)
    func4()
func3()

Variable value ->  30

In [9]:
a = 10

def func3():
    a = 20 # nonlocal declaration
    def func4():
        global a
        print("Variable value -> ", a)
    func4()
func3()

Variable value ->  10

In [10]:
a = 10

def func3():
    a = 20 # nonlocal declaration
    def func4():
        nonlocal a
        print("Variable value -> ", a)
    func4()
func3()

Variable value ->  20

#### Best practice: avoid using the global variable as much as possible

In [13]:
def printmsg(name, age):
    print("The name is {} and age is {}".format(name, age))

printmsg('Anil', 35)

The name is Anil and age is 35

In [14]:
printmsg('Anil')

TypeError: printmsg() missing 1 required positional argument: 'age'

In [15]:
def printmsg(name, age=99):
    print("The name is {} and age is {}".format(name, age))

printmsg('Anil')

The name is Anil and age is 99

In [16]:
printmsg('Anil', 60)

The name is Anil and age is 60

name -> required argument
age  -> optional argument
Rule: write all the optional arguments with default values after the required arguments

In [17]:
def printmsg(name="John Doe", age=99):
    print("The name is {} and age is {}".format(name, age))

printmsg()

The name is John Doe and age is 99

In [18]:
printmsg(age=45)

The name is John Doe and age is 45

Note: The order will not matter for passing arguments if key words assignments are user

In [19]:
def average(a, b, c):
    return (a + b + c) / 3

print(average(10, 12, 14))

12.0

In [22]:
def average(*x):
    print(x)
    return sum(x)/len(x)
    
average(1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)

3.0

In [23]:
average(1, 2, 3, 4, 5, 5)

(1, 2, 3, 4, 5, 5)

3.3333333333333335

In [24]:
average(1, 2, 3, 4, 5, 5, 5 , 6, 7, 8)

(1, 2, 3, 4, 5, 5, 5, 6, 7, 8)

4.6

In [33]:
def func(a, b, c, *targs, **kargs):
    print(a, b, c)
    print(targs)
    print(kargs)

In [34]:
func(10, 2, 1)

10 2 1
()
{}

In [35]:
func(10, 2, 23 ,34, 56)

10 2 23
(34, 56)
{}

In [36]:
func(10, 2, 3, 4, 5, name="anil", age=35, company="continuserve")

10 2 3
(4, 5)
{'name': 'anil', 'age': 35, 'company': 'continuserve'}

##### Note: Sequence of arguments: positional -> targs -> kargs

### Recursive functions

In [37]:
# function to calulate factorial of the number
def fact(n):
    if(n == 1):
        return 1
    else:
        return n * fact(n - 1)

In [38]:
fact(10)

3628800