Import and initiate findspark
Then import pyspark

In [ ]:
import findspark
findspark.init("/usr/local/spark")

In [ ]:
import pyspark

Instatiate SparkSession with Hive support

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Python Spark SQL example") \
        .config("spark.sql.warehouse.dir", "hdfs://localhost:54310/user/hive/warehouse") \
        .enableHiveSupport() \
        .getOrCreate()

# On some clusters the following config setting may be requied
#         .config("hive.metastore.uris", "<value>")

In [ ]:
# Testing Hive integration
spark.sql('show databases').show()

In [ ]:
# Testing Hive integration
spark.sql('show tables').show()

In [ ]:
spark.sql('select * from cctab').show(5, False)

In [ ]:
spark.sql('show tables from jsondemo').show()

In [ ]:
spark.sql('show tables from mydb').show()

In [ ]:
spark.sql('use mydb')

In [ ]:
spark.sql('select * from tkttbl').show(5, False)

In [ ]:
spark.sql('use jsondemo')

In [ ]:
spark.sql('show tables').show()

In [ ]:
spark.sql('select * from mydb.tkttbl').show(5, False)

In [ ]:
spark.sql("SELECT * FROM retaildb1.customers1").show()

In [ ]:
spark.sql("SELECT * FROM retaildb1.products1").show()

In [ ]:
cStateCount50 = spark.sql("SELECT customer_state, count(*) as state_count FROM retaildb1.customers1 GROUP BY customer_state HAVING state_count>=50")

Output of a Hive query will be a DataFrame

In [ ]:
type(cStateCount50)

In [ ]:
cStateCount50.printSchema()

In [ ]:
cStateCount50.show()

In [ ]:
prd200 = spark.sql("SELECT category_id, product_category, count(*) as prdcount FROM retaildb1.products1 WHERE product_price>200 GROUP BY category_id, product_category ORDER BY product_category")

In [ ]:
type(prd200)

In [ ]:
prd200.show()

In [ ]:
prd200.printSchema()

These dataframes can be written to Hive tables after creating a new database. The following lines show the syntax. Plesae note that the Hive metastore version should be compatible with the Spark version to be able to create databases and tables in Hive.

spark.sql("CREATE DATABASE IF NOT EXISTS retaildb")

cStateCount50.coalesce(1).write.saveAsTable("retaildb.cStateCount50")

prd200.coalesce(1).write.saveAsTable("retaildb.prd200")