### 1. Comparison between Python Sequences and NumPy Sequences

In [ ]:
# importing numpy package
import numpy as np
  
# importing system module
import sys
  
# declaring a list of 1000 elements 
S= range(1000)
  
# printing size of each element of the list
print("[Python] Size of each element of list in bytes: ",sys.getsizeof(S))
  
# printing size of the whole list
print("[Python] Size of the whole list in bytes: ",sys.getsizeof(S)*len(S))
  
# declaring a Numpy array of 1000 elements 
D= np.arange(1000)
  
# printing size of each element of the Numpy array
print("[NumPy] Size of each element of the Numpy array in bytes: ",D.itemsize)
  
# printing size of the whole Numpy array
print("[NumPy] Size of the whole Numpy array in bytes: ",D.size*D.itemsize)

In [ ]:
# importing required packages
import numpy
import time
   
# size of arrays and lists
size = 1000000  
   
# declaring lists
list1 = range(size)
list2 = range(size)
   
# declaring arrays
array1 = numpy.arange(size)  
array2 = numpy.arange(size)
   
# capturing time before the multiplication of Python lists
initialTime = time.time()
  
# multiplying  elements of both the lists and stored in another list
resultantList = [(a * b) for a, b in zip(list1, list2)]
   
# calculating execution time
print("Time taken by Lists to perform multiplication:", 
      (time.time() - initialTime),
      "seconds")
   
# capturing time before the multiplication of Numpy arrays
initialTime = time.time()
  
# multiplying  elements of both the Numpy arrays and stored in another Numpy array 
resultantArray = array1 * array2
   
# calculating execution time 
print("Time taken by NumPy Arrays to perform multiplication:",
      (time.time() - initialTime),
      "seconds")

http://jakevdp.github.io/images/array_vs_list.png

### 2. Basics of Pandas Library

In [ ]:
import pandas as pd

In [ ]:
path = r"C:\Users\Purushotham\Desktop\deloitte\2022\July\week 01\python\13_case_study\students.csv"

In [ ]:
df = pd.read_csv(path)
df

##### Working with Columns

In [ ]:
df.columns

In [ ]:
df.shape

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.describe

In [ ]:
df['name']

In [ ]:
df1 = df[['rank', 'name', 'age', 'avg']]
df1

In [ ]:
# Creating a new column
df['dummy'] = df['name']
df['total'] = df['phy'] + df['chem'] + df['bio'] + df['math']
df

In [ ]:
# Delete a columns
df2 = df.drop('dummy', axis = 1)
df2

In [ ]:
df.head()

In [ ]:
# Dropping a column permanently from the dataframe
df.drop('dummy', axis = 1, inplace = True)
df

##### Working with the Rows

In [ ]:
df.loc[1]

In [ ]:
df.loc[[1, 5, 8]]

In [ ]:
df.iloc[[3,1,5,9]]

In [ ]:
df.drop([1, 2, 3]) # inplace = True to permanently delete

In [ ]:
df

In [ ]:
df[df['total'] < 300]

### 3. Solve the student report project using pandas

In [ ]:
# We are supposed to calculate the average and rank for the student data
# Write it to a file

In [ ]:
import pandas as pd
df = pd.read_csv(path)
df.head()

In [ ]:
df['avg'] = df[['phy', 'chem', 'math', 'bio']].mean(axis=1)
df.head()

In [ ]:
df['rank'] = df['avg'].rank(method = 'dense', ascending = False)
df

In [ ]:
df.to_excel('finalreport.xlsx')

### 4. Reading from Different Sources

In [ ]:
url = r"https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/"

In [ ]:
df_fdic = pd.read_html(url)
df_fdic[0]

In [ ]:
type(df_fdic)

### 5. Pandas Series

In [ ]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30}

In [ ]:
# Using lists
pd.Series(data=my_list)

In [ ]:
pd.Series(data=my_list, index = labels)

In [ ]:
# Using a numpy array
pd.Series(arr, labels)

In [ ]:
# Using a dictionary
pd.Series(d)

In [ ]:
pd.Series([sum, len, print])

In [ ]:
ser1 = pd.Series([1,2,3,4],index = ['USA', 'Germany','USSR', 'Japan'])  
ser2 = pd.Series([1,2,5,4],index = ['USA', 'Germany','Italy', 'Japan'])

In [ ]:
ser1

In [ ]:
ser2

In [ ]:
ser1['USA']

In [ ]:
ser1 + ser2

### 6. Pandas DataFrames

In [ ]:
from numpy.random import randn
np.random.seed(101)

In [ ]:
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())
df

In [ ]:
df['W']

In [ ]:
df[['W', 'Z']]

In [ ]:
df.W

In [ ]:
# Every column in a dataframe is nothing but a pandas series

##### Create a new column

In [ ]:
df['new'] = df['W'] + df['Y']
df

##### Removing a Colummns

In [ ]:
df.drop('new', axis=1, inplace=True)

In [ ]:
df

##### Selecting rows

In [ ]:
df.loc['A']

In [ ]:
df.loc[['A', "B"]]

In [ ]:
df.loc['B', 'Y'] # [row, column]

In [ ]:
df.loc[['A', 'B'], ['W', 'Y']]

In [ ]:
df.iloc[1] # Access using indeces

In [ ]:
df.iloc[1, 3]

##### Conditional Selection

In [ ]:
df

In [ ]:
df > 0

In [ ]:
df[df > 0]

In [ ]:
df[df['W'] > 0]

In [ ]:
df[df['W'] > 0][['X', 'Y']]

In [ ]:
df[(df['W'] > 0) & (df['Y'] > 1)]

##### Working with indexes

In [ ]:
df

In [ ]:
df.reset_index()

In [ ]:
newind = ['CA', 'NY', 'WY', 'TX', 'NO']
df['States'] = newind

In [ ]:
df

In [ ]:
df.set_index('States')

In [ ]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)
hier_index

In [ ]:
df = pd.DataFrame(np.random.randn(6, 2), index=hier_index, columns=['A', "B"])
df

In [ ]:
df.loc['G1']

In [ ]:
df.loc['G1'].loc[1]

In [ ]:
df.index.names

In [ ]:
df.index.names = ['Group', 'Num']
df

In [ ]:
df.xs('G1')

In [ ]:
df.xs(['G1', 1])

In [ ]:
df.xs(1, level='Num')

### 7. Handling Missing Values

In [ ]:
df = pd.DataFrame({'A':[1,2,np.nan],
                  'B':[5,np.nan,np.nan],
                  'C':[1,2,3]})

In [ ]:
df

In [ ]:
df.dropna()

In [ ]:
df.dropna(axis=1)

In [ ]:
df.dropna(thresh=2)

In [ ]:
df.fillna(value=50)

In [ ]:
df['A'].fillna(value=df['A'].mean())

### 8. Merging, Joining and Concatenating DataFrames

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])

In [ ]:
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[4, 5, 6, 7])

In [ ]:
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[8, 9, 10, 11])

In [ ]:
df1

In [ ]:
df2

In [ ]:
df3

##### Concatenation

In [ ]:
pd.concat([df1, df2, df3])

In [ ]:
pd.concat([df1, df2, df3], axis = 1)

##### Merging

In [ ]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
   
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
left

In [ ]:
right

In [ ]:
pd.merge(left, right, how='inner', on='key')

In [ ]:
left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                        'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3']})
    
right = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                               'key2': ['K0', 'K0', 'K0', 'K0'],
                                  'C': ['C0', 'C1', 'C2', 'C3'],
                                  'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
right

In [ ]:
left

In [ ]:
pd.merge(left, right, on=['key1', 'key2'])

In [ ]:
pd.merge(left, right, on=['key1', 'key2'], how='outer')

In [ ]:
pd.merge(left, right, on=['key1', 'key2'], how='right')

In [ ]:
pd.merge(left, right, on=['key1', 'key2'], how='left')

##### Joining

In [ ]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                      index=['K0', 'K1', 'K2']) 

right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                    'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])

In [ ]:
left

In [ ]:
right

In [ ]:
left.join(right)

In [ ]:
right.join(left)

In [ ]:
left.join(right, how='outer')

### 9. Grouping

In [ ]:
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}

In [ ]:
df = pd.DataFrame(data)
df

In [ ]:
df.groupby('Company')

In [ ]:
by_company = df.groupby('Company')
by_company

In [ ]:
by_company.mean()

In [ ]:
by_company.sum()

In [ ]:
by_company.std()

In [ ]:
by_company.min()

In [ ]:
by_company.max()

In [ ]:
by_company.count()

In [ ]:
by_company.describe()

In [ ]:
by_company.describe().transpose()

In [ ]:
by_company.describe().transpose()['GOOG']

### 10. Miscellaneous Operations

In [ ]:
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df.head()

##### Information on unique values

In [ ]:
df['col2'].unique()

In [ ]:
df['col2'].nunique()

In [ ]:
df['col2'].value_counts()

##### Selecting data

In [ ]:
newdf =  df[(df['col1'] > 2) & (df['col2'] == 444)]
newdf

##### Applying Functions

In [ ]:
def times2(x):
    return x*2

In [ ]:
df['col1'].apply(times2)

In [ ]:
df['col3'].apply(len)

In [ ]:
df['col1'].sum()

##### Sorting

In [ ]:
df.sort_values(by = 'col2')

##### Checking for null values

In [ ]:
df.isnull()

##### Pivot

In [ ]:
data = {'A':['foo','foo','foo','bar','bar','bar'],
     'B':['one','one','two','two','one','one'],
       'C':['x','y','x','y','x','y'],
       'D':[1,3,2,5,4,1]}

df = pd.DataFrame(data)

In [ ]:
df

In [ ]:
df.pivot_table(values = 'D', index = ['A', "B"], columns=['C'])